---
title:
layout: "standard"
---
<div class="container">
  <ul class="post-list">
    {% for post in site.posts %}
    <li class="post-item">
      <p class="post-date">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
      </p>
      <a class="post-title-link" href="{{ post.url }}">{{ post.title }}</a>
      {% if post.excerpt %}
      <div class="post-excerpt">{{ post.excerpt }}</div>
      {% endif %}
      <a class="read-more" href="{{ post.url }}">Read more &rarr;</a>
    </li>
    {% endfor %}
  </ul>
</div>
