<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Patrick Hyatt" />
{% if page.description %}
<meta name="description" content="{{ page.description }}" />
{% else %}
<meta name="description" content="Patrick Hyatt's site. I am a developer, traveler, PJ lover, and video gamer." />
{% endif %}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}" />
{% else %}
<meta name="keywords" content="Patrick Hyatt, development, video games, travel" />
{% endif %}
<title>Patrick's Blog{% if page.title %}: {{ page.title }}{% endif %}</title>
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
