<footer class="text-center">
	You're awesome!  -
	<a href="{{ site.twitter }}" target="_blank" aria-label="{{ site.name }}'s Twitter account"><i class="fa fa-twitter-square"></i></a>
	<a href="{{ site.linkedin }}" target="_blank" aria-label="{{ site.name }}'s LinkedIn account"><i class="fa fa-linkedin-square"></i></a>
	<a href="{{ site.instagram }}" target="_blank" aria-label="{{ site.name }}'s Instagram account"><i class="fa fa-instagram-square"></i></a>
	<a href="{{ site.stackoverflow }}" target="_blank" aria-label="{{ site.name }}'s Stack Overflow account"><i class="fa fa-stack-overflow"></i></a>
	<a href="{{ site.github }}" target="_blank" aria-label="{{ site.name }}'s GitHub account"><i class="fa fa-github-square"></i></a>
	<a href="{{ site.hackernews }}" target="_blank" aria-label="{{ site.name }}'s Hacker News account"><i class="fa fa-yc"></i></a> - <i class="fa fa-copyright"></i> 2016 {{ site.name }}
</footer>
