<!-- schema -->
{% if page.excerpt %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ page.title }}",
    "author": "{{ site.name }}",
    "publisher": 
    {
      "@type": "Organization",
      "name": "{{ site.name }}",
      "url": "{{ site.url }}"
    },
    {% if page.date %}
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.date | date_to_xmlschema }}",
    "{% endif %}
  }
</script>
{% else %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Blog",
    "author": "{{ site.name }}",
    "keywords": "patrick hyatt, developer, traveller, gamer, PJ lover",
    "description": "Personal blog of Patrick Hyatt."
  }
</script> 
{% endif %}	
