---
---

a, a:hover
	color: #000000
	text-decoration: none

header
	padding: 0 3em

	.code
		color: #777777

	.games 
		color: #6495ed

	.love
		color: #f08080

.mark
	border-radius: 7px

.container 
	min-height: 200px

.content
	background-color: #EEEEEE
	border-radius: 7px
	padding: 1em

footer
	color: #777777