---
---

a
	color: #777
	text-decoration: underline

header
	.code
		color: #777777

	.games
		color: #6C9

	.love
		color: #f08080

	.travel
		color: #6495ed

	a
		text-decoration: none

	a:hover
		text-decoration: none

.mark
	border-radius: 7px

.container
	min-height: 200px

.content
	background-color: #EEEEEE
	border-radius: 7px
	padding: 1em

footer
	color: #777777
